* {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

html {
  background: linear-gradient(270deg, #FBB9C5, #FDD0B1, #F9EfC7, #C3EDBF, #BFDFE6, #C5BBDE);
  background-size: 1200% 1200%;
  animation: pastelGradient 30s ease infinite;
}

@keyframes pastelGradient {
  0% {background-position: 0% 50%}
  50% {background-position: 100% 50%}
  100% {background-position: 0% 50%}
}

.grid-parent {
  max-width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid #000;
  display: grid;
  grid-gap: 1px 1px;
}

.grid-child {
  background-color: #fff;
}